@tailwind base;
@tailwind components;
@tailwind utilities;
.bottom-95{
  bottom: 95px;
}
.h-48{
  height: 48px;
}
.cl-primary{
  background-color: #fff;
  color: #000;
  border: #ccc solid 1px;
}

.cl-add-cart{
  background-color: #fff;
  color: #0923d9;
}

.border-radius-4{
  border-radius: 4px;
}

.button-select-product{
  border-radius: 4px;
    justify-content: center;
    border: #3459a7 solid 1px;
    padding: 8px;
}
.currency-product{
  color: #ed6703;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
}
:root {
  --primary: #3459a7;
  --secondary: #ebedef;
  --background: #ffffff;
  --foreground: #0d0d0d;
  --section: #f7f7f8;
  --inactive: #a9adb2;
  --tabIndicator: #212121;
  --subtitle: #6f7071;
  --danger: #f50000;
  --skeleton: #ebedef;
}
